doctype html
html(lang="en")
  head
    title= "CSS Animations"
    link(rel='stylesheet', href='/css/papers.css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="/js/animations.js")
    script(src="/js/retina.min.js")
  body
    #navbar
    #resolution
      #outer
        #animation-box
          .logo
            img(src="/img/logo.png", data-at2x="/img/logo@2x.png")
          .base
          .big-cloud
            img(src="/img/bigcloud.png", data-at2x="/img/bigcloud@2x.png")
          .mid-cloud
            img(src="/img/midcloud.png", data-at2x="/img/midcloud@2x.png")
          .small-cloud
            img(src="/img/smallcloud.png", data-at2x="/img/smallcloud@2x.png")
          .library
            img(src="/img/library-hook.png")